<div class="dashboard">
  <mat-card class="card-standard">
    <mat-card-header>
      <mat-card-title><b>On boarding demo</b></mat-card-title>
      <mat-card-subtitle>On boarding dynamic components demo</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
          Click buttons below to check different approaches with onboard component
        </p>
        <div class="row justify-content-center">
          <button mat-raised-button color="primary" (click)="openNgbModal()">ngb-modal</button>
          <button mat-raised-button color="basic" class="ml-1">onb-modal</button>
        </div>
      </mat-card-content>
  </mat-card>
</div>