@import 'variables';

:host {
  .onb {
    &__window {
      &_content {
        background-color: #ccc;
      }
    }
  }
}

@media only screen and (min-width: $screen-breakpoint-xs) {
  :host {
    .onb {
      &__window {
        &_content {
          min-height: 670px;
          height: 670px;
          overflow-y: auto;
        }
      }
    }
  }
}

@media only screen and (min-width: $screen-breakpoint-md) {
  :host {
    .onb {
      &__window {
        &_content {
          min-height: 670px;
          height: 670px;
          overflow-y: auto;
        }
      }
    }
  }
}

@media only screen and (min-width: $screen-breakpoint-lg) {
  :host {
    .onb {
      &__window {
        &_content {
          max-height: 520px;
          height: 520px;
          overflow: hidden;
        }
      }
    }
  }
}

@media only screen and (min-width: $screen-breakpoint-xl) {
  :host {
    .onb {
      &__window {
        &_content {
          max-height: 520px;
          height: 520px;
          overflow: hidden;
        }
      }
    }
  }
}