:host {
  .dashboard {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 25px;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;

    .card-standard {
      max-width: 20vw;
    }
  }
}