:host {
  .onb {
    &__pagination {
      &_item {
        display: inline-block;
        height: 20px;
        width: 20xp;
        border: 1px solid #ccc;
        background-color: transparent;
        border-radius: 50%;
        &.current {
          background-color: chocolate;
        }
      }
    }
  }
}
